header{
    position: -webkit-sticky;
    position: sticky;
    font-size: 20px;
}

h2, h3, h4, h5{
    color: #1b4557;
}

#presentacion{
    display: flex;
    background-color: rgba(176, 176, 176, 0.254);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

#textopresentacion{
    margin-left: 100px;
    margin-right: 300px;
    text-align: justify;
}

#textopresentacion p{
    font-size: larger;
}

#objetivopersonal{
    text-align: center;
    margin: 100px;
    font-size: larger;
}

#objetivos{
    text-align: center;
    display: flex;
}

#objetivo, #programacion, #mail, #localidad{
    flex: 0.3;
    text-align: justify;
    margin: 50px;
}

#aplicaciones, #telefono{
    flex: 0.4;
    text-align: justify;
    margin: 50px;
}

#objetivo, #programacion, #aplicaciones, #mail, #telefono, #localidad,img {
text-align: center;
justify-content: center;
}

#datoscontacto{
    background-color: rgba(176, 176, 176, 0.254);
}

#datos{
    display: flex;
    background-color: rgba(176, 176, 176, 0.254);
    flex: 100%;  
}
#datoscontacto h2{
    padding-top: 25px;
    text-align: center;
}

footer{
    background-color: #1b4557;
    color: white;
    padding-top: 50px;
    font-size: x-large;
}

footer img{
    filter: invert(1);
}
#imagenesfooter{
    justify-content: center;
    text-align: center;
    margin-inline: 10px;
}

#textosfooter{
    display: flex;
    padding-bottom: 50px;}

#cv{ text-align: right;}
#derechos{ text-align: left;}

#estudios{
        display: flex;
        background-color: rgba(176, 176, 176, 0.254);
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 100px;
    }

#textosestudios{
    margin-left: 100px;
    margin-right: 300px;
    text-align: justify;
    font-size: large;
}
#fcomplementaria{ 
    padding-left: 300px;
    margin-top: 50px;
}

#formacionescomp{
    display: flex;
    flex: 0.3;
    font-size: large;
    margin-bottom: 50px;
}
 #intro{
    font-size: large;
    flex: 0.3;
    margin-right: 200px;
}