<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
    <title>Education</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/logo.png" width="75px" height="75px" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index_en.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./education.html">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./experience.html">Experience</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      CV Español
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../../index.html">Inicio</a></li>
                      <li><a class="dropdown-item" href="../estudios.html">Estudios</a></li>
                      <li><a class="dropdown-item" href="../experiencia.html">Experiencia</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://drive.usercontent.google.com/u/0/uc?id=1EYOgQV48MQ3mv8mUzKfpKimiJBMRUSuJ&export=download" target="_blank">Download CV</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div id="presentacion">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../img/jesuitas_sarria.png" class="d-block w-100" alt="Foto1">
            </div>
            <div class="carousel-item">
              <img src="../../img/cfmartorell.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div id="textopresentacion">
          <h1>Work Experience</h1>
          <h2>Intership</h2>
          <h3>FCT | Jesüites Sarrià | 2023 May - 2024 January</h3>
          <p>I am currently doing an internship at the Jesuit school in Sarria where my job is to work as a computer technician, providing support to students and teachers of the center and taking care of network management.</p>
          <br>
          <br>
          <h2>Free time instructor</h2>
          <h3>Free time instructor | CF Martorell | 2021 - June</h3>
          <p>He was conducting a summer camp with the players of the Martorell soccer club where we were in charge of helping players improve their technique and positioning on the field.</p>
        </div>
  </div>
  <footer>
    <div id="imagenesfooter">
      <a href="https://github.com/marcgarciia18" target="_blank"><img src="../../img/github.png" height="50px" width="90px" alt="github"></a>
      <a href="https://twitter.com/marc_garciia47" target="_blank"><img src="../../img/twitter.png" height="40px" width="90px" alt="twitter"></a>
      <a href="https://www.instagram.com/marccgarciia10/" target="_blank"><img src="../../img/instagram.png" height="40px" width="40px" alt="instagram"></a>
    </div>
    <div id="textosfooter">
      <p id="derechos">© SMX2 M12 2023</p>
      <p id="cv">CV Marc García Bardales</p>
    </div>
  </footer>
</body>
</html>