<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
    <title>Home</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../img/logo.png" width="75px" height="75px" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index_en.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./education.html">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./experience.html">Experience</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      CV Español
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../../index.html">Inicio</a></li>
                      <li><a class="dropdown-item" href="../estudios.html">Estudios</a></li>
                      <li><a class="dropdown-item" href="../experiencia.html">Experiencia</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div id="presentacion">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../img/presentacion1.jpg" class="d-block w-100" alt="Foto1">
            </div>
            <div class="carousel-item">
              <img src="../../img/presentacion2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div id="textopresentacion">
          <h2>Marc Garcia: IT</h2>
          <p>I'm Marc García Bardales, I'm 18 years old and I study SMX2. I am a hard-working person with initiative. I have a driving license B. One of my strengths is the organization of work and communication.</p>
          <br>
          <br>
          <h2>Hobbies</h2>
          <p>My hobbies are mainly soccer, but I also like the motor world.
            I have been playing soccer since I was 5 years old. Playing soccer since I was 5 years old says a lot about me, it describes me as a persistent person who doesn't give up no matter how many problems get in the way.</p>
        </div>
  </div>
  <div id="objetivopersonal">
      <h2>Personal Objective</h2>
      <br>
      <p>As a student of the CFGM of microcomputer systems and networks, my professional goal is to acquire practical experience in the field of computer science and networks, while developing my skills in problem solving and project management. Likewise, I want to actively collaborate in the work team and learn from experienced professionals to consolidate my leadership skills, commitment and initiative.</p>
      <div id="objetivos">
          <section id="objetivo">
              <img src="../../img/objetivos.png" alt="objetivos">
              <h3>Objectives</h3>
              <p>The big goal I have set is to work as a computer scientist, the branch is still not very clear but I think I could become a web application developer.</p>
          </section>
          <section id="aplicaciones">
              <img src="../../img/aplicaciones.png" alt="aplicaciones">
              <h3>Aplications</h3>
              <p>My level of knowledge in terms of applications is quite broad, office programs I handle them during the day and I have them quite developed. I also control a lot of home automation configuration programs and I have knowledge of databases.</p>
          </section>
          <section id="programacion">
              <img src="../../img/programacion.png" alt="programacion">
              <h3>Programming</h3>
              <p>In terms of programming, I have knowledge of Markdown markup language and HTML.</p>
          </section>
      </div>
  </div>
  <div id="datoscontacto">
    <h2>Contact Information</h2>
    <br>
  </div>
  <div id="datos">
    <section id="mail">
      <img src="../../img/mail.png" alt="mail">
      <h3>Mail Contact</h3>
      <p>marc.garcia.bardales@gmail.com</p>
    </section>
    <section id="telefono">
      <img src="../../img/telefono.png" alt="phone">
      <h3>Phone Number</h3>
      <p>+34 611-445-665</p>
    </section>
    <section id="localidad">
      <img src="../../img/localidad.png" alt="locality">
      <h3>Location</h3>
      <p>Martorell, 08760</p>
    </section>
  </div>
  <footer>
    <div id="imagenesfooter">
      <a href="https://github.com/marcgarciia18" target="_blank"><img src="../../img/github.png" height="50px" width="90px" alt="github"></a>
      <a href="https://twitter.com/marc_garciia47" target="_blank"><img src="../../img/twitter.png" height="40px" width="90px" alt="twitter"></a>
      <a href="https://www.instagram.com/marccgarciia10/" target="_blank"><img src="../../img/instagram.png" height="40px" width="40px" alt="instagram"></a>
    </div>
    <div id="textosfooter">
      <p id="derechos">© SMX2 M12 2023</p>
      <p id="cv">CV Marc García Bardales</p>
    </div>
  </footer>
</body>
</html>